version: "3.8"
services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
    volumes:
      - qdrant_data:/qdrant/data
    environment:
      - QDRANT__SERVICE__API_KEY=qdrant

volumes:
  qdrant_data:
    driver: local
 
